[2020-02-18 17:08] fntlnz opened #1 "Modules signing"
**Motivation**
We want to help our users to make sure they run code coming from the Falcosecurity project by enabling

**Feature**

Make so that the builder uses the kernel module signing facility: https://www.kernel.org/doc/html/v4.10/admin-guide/module-signing.html

**Alternatives**

**Additional context**

[2020-02-18 21:12] leodido commented on #1
+1
L.

On Tue, Feb 18, 2020 at 6:08 PM Lorenzo Fontana <notifications@github.com>
wrote:

[2020-02-25 10:57] fntlnz opened #4 "Builder for ubuntu-generic and ubuntu-aws"
**Motivation**

**Feature**

We needd to allow the service to build ubuntu-generic and ubuntu-aws kernels

**Alternatives**

**Additional context**

[2020-02-25 11:01] fntlnz opened #5 "Builder for centos"
**Motivation**

According to the survey that we run, CentOS is one of the systems we should target.

**Feature**

Create a new target - namely `centos` - implementing the scripts we need to build the kernel module on such systems.

**Additional context**

![Screenshot 2020-03-04 at 19 40 02](https://user-images.githubusercontent.com/120051/75911510-f8557980-5e4f-11ea-92a2-1d2772d1b4f5.png)

[2020-02-25 13:31] #4 closed

[2020-03-03 18:58] fntlnz opened #7 "Docker target"
**Motivation**
We need to be able to build against a docker daemon

**Feature**
Example of command line execution
[code]

**Alternatives**
Use the kubernetes one with KIND.

**Additional context**

[2020-03-03 18:59] fntlnz opened #8 "Validation infrastructure"
**Motivation**

Having well validated command line options is a first class feature we can implement to have a more stable cli for driverkit.

**Feature**

Implement [go-validator](https://github.com/go-playground/validator) in our command line to validate the incoming flags and structs.

**Alternatives**
No alternatives

**Additional context**

[2020-03-03 19:05] #7 closed

[2020-03-03 19:05] #8 closed

[2020-03-04 16:51] fntlnz opened #11 "Debug mode for kubernetes build processor"
**Feature**

In the Kubernetes build processor, we want to do in the same way the docker build processor does when printing out the build logs when used with `--loglevel=debug`.

[2020-03-04 18:38] leodido commented on #5
@fntlnz no more endpoints, please :)

Also, I like "builde type" 🇮🇹

[2020-03-04 18:39] leodido opened #13 "Builder for debian"
**Motivation**

According to the survey that we run, debian is one of the systems we should target.

**Feature**

Create a new target - namely `debian` - implementing the scripts we need to build the kernel module on such systems.

**Additional context**

![Screenshot 2020-03-04 at 19 40 02](https://user-images.githubusercontent.com/120051/75911510-f8557980-5e4f-11ea-92a2-1d2772d1b4f5.png)

[2020-03-05 08:18] fntlnz commented on #5
@leodido updated! Thank you

[2020-03-05 17:24] #5 closed

[2020-03-06 17:31] #13 closed

[2020-03-09 11:06] leodido opened #17 "Generate eBPF probes, too"
**Motivation**

[Falco](https://github.com/falcosecurity/falco) can also use the eBPF probe as driver for the input signals.

**Feature**

Thus, we should also compile e generate eBPF probes with the same mechanism that is in place to build kernel modules.

**Alternatives**

None.

**Additional context**

None.

[2020-03-09 19:05] #17 closed

[2020-03-11 12:04] vicenteherrera opened #19 "falcosecurity/driverkit-builder-base docker image not available"
**Describe the bug**

When using driverkit against docker daemon, it tries to pull an image that is not publicly available:
`falcosecurity/driverkit-builder-base:1395e08740dcc9b30f9bcb1cc517d14ce340ea9e`

**How to reproduce it**
Execute:
`driverkit docker --output-module falco.ko --kernelversion=81 --kernelrelease=4.15.0-72-generic --driverversion=dev --target=ubuntu-generic`

Output will be:
[cod

[2020-03-11 12:12] mazzy89 opened #21 "Flatcar support"
**Motivation**

Support CoreOS/Flatcar

**Feature**

As discussed in here https://github.com/falcosecurity/falco/issues/1075 Flatcar requires some modification to the OS to let Falco install the kernel module

**Alternatives**

**Additional context**

Discussed this with @leogr that soon driverkit becomes the way to install correct driver. I would like to contribute in this regard for the OS Flatc

[2020-03-11 14:42] leodido commented on #19
We have to push the docker image, yes 🙂

[2020-03-12 13:29] leodido commented on #19
/kind feature

/assign @fntlnz
/assing @leodido

[2020-03-12 14:23] leodido opened #22 "Support linuxkit"
**Motivation**

It would be useful to support linuxkit which is used by some popular tools (eg., kind).

**Feature**

Verify whether the `vanilla` target works for linuxkit or not, and in such case document it.

Or, create a explicit target for linuxkit.

[2020-03-12 15:14] leogr opened #23 "Document how to install the kernel module"
**What to document**

It could be useful to document the local installation process of a kernel module generated by `driverkit`.

For example, assuming I have successfully generated `/tmp/falco-vanilla.ko`, to install it into my system I have to:
[code]

Finally to check if it worked:
[code]

**Note**: I'm not sure if `driverkit` is the right place to document this, but just to keep a note of that

[2020-03-12 15:17] leodido commented on #23
Probably the right place would be the website.

I also think we should have it written down there...

On Thu, 12 Mar 2020 at 16:14, Leonardo Grasso <notifications@github.com>
wrote:

--
L.

[2020-03-12 17:11] leodido commented on #22
So, `vanilla` target works fine in building the kernel module for kernel 4.19.x with the correct `kernelconfigdata` (see [here]()).

But, since the linuxkit kernel has `CONFIG_GCC_PLUGIN_RANDSTRUCT` set to y ([ref](https://github.com/linuxkit/linuxkit/blob/badd7910723330b2be03e650a0f50de0b527de7b/kernel/config-4.19.x-x86_64#L773)), the module can't be inserted.

[2020-03-12 17:13] leodido commented on #22
At this point the solution COULD be creating a new target for linuxkit only that grabs the kernel source used by linuxkit from here: https://github.com/linuxkit/linuxkit/blob/badd7910723330b2be03e650a0f50de0b527de7b/kernel/Dockerfile#L207

And, then, use this rather that downloading headers from kernel.org

[2020-03-13 17:16] dsever commented on #19
Same here:

[code]
for

[code]

Tnx

[2020-03-13 17:32] dsever opened #24 "docker command fails"
Hi,

I'm getting error when building using docker command, with given message:

[code]

Is there kind of workarround?

Tnx

[2020-03-13 18:49] leodido commented on #24
Hello @dsever can you post the output of `docker version` ?

In the meantime I workaround could be to export the`DOCKER_API_VERSION` env variable.

[code]

[2020-03-13 18:52] leodido commented on #19
At the moment, as a workaround, you can build it running `make image/buil` from the root of this repo.

[2020-03-14 16:06] leodido commented on #22
An update on this topic.

I've been able to compile the falco kernel module for linuxkit from driverkit but the RANDSTRUCT is different.

[code]

[2020-03-14 16:31] leodido commented on #22
Hmmm

[code]

[2020-03-14 19:26] dsever commented on #24
Hi,

I would say this is strange:

[code]
So driverkit has newer client, not supported by my API server?

[2020-03-14 20:09] dsever commented on #24
After docker upgrade to 19.03.6 it looks ok, i was able to build modules.

Thanks

[2020-03-14 20:09] #24 closed

[2020-03-14 20:11] dsever commented on #19
It works as you proposed.

[2020-03-15 18:53] leodido commented on #22
Ok, I built linuxkit/kernel:4.19.76 from source and this is what I have in it.

[code]

Next step: try to use them to compile the Falco kernel module with the correct `RANDSTRUCT_PLUGIN_<hash>`

[2020-03-16 18:00] leodido opened #25 "Setup CI"
**Motivation**

We need to test the code and integrate the testing into the upcoming release plan for driverkit.

We also need the CI to publish the docker images.

**Feature**

1. Run tests
2. Build driverkit
3. Build driverkit image and push it
4. Build driverkit-builder image and push it

**Alternatives**

GitHub actions. But we want to stick with the same CI system (CircleCI) for all the Falco

[2020-03-16 18:11] #25 closed

[2020-03-17 09:35] leodido opened #33 "Let driverversion option also accept as valid semver strings"
**Motivation**

Currently, `driverversion` option (flag, config file field, env var) can only accept a SHA1 commit hash or the "dev" string.

This limitation does not let users specify a specific driver by the mean of a git tag (which usually contains semver strings).

**Feature**

Extend the `driverversion` validator to also accept semver strings.

[2020-03-17 09:35] leodido commented on #33
/assign @leodido

[2020-03-17 11:38] fntlnz opened #34 "docker builder: Pull does not honor the registry order"
**Description**
Right now, the docker builder pull does not use the registry order built in the docker daemon, leading to an unexpected behavior while using driverkit.

[2020-03-17 11:49] #33 closed

[2020-03-17 11:49] #34 closed

[2020-03-19 10:59] leogr commented on #21
IIRC, as discussed during the community call the best approach should be to add a new target `flatcar` [here](https://github.com/falcosecurity/driverkit/tree/master/pkg/driverbuilder/builder).

[2020-03-20 17:47] leodido opened #37 "kernelconfigdata not needed when only building the eBPF probe (for vanilla targets)"
**Motivation**

When compiling the eBPF probe for `vanilla` target the `kernelconfigdata` parameter is actually not required.

**Feature**

Relax the validator for `kernelconfigdata` when `target` is `vanilla` and only `output-probe` is specified.

Or, in case it has been specified, just log it's gonna be ignored.

[2020-03-22 19:46] kris-nova opened #38 "Error while running `go get`"
**Describe the bug**

[code]

**How to reproduce it**

[code]

**Expected behaviour**

Either a release with a static binary, or a working `go get`

**Screenshots**

**Environment**

- Falco version:

- System info:

- Cloud provider or hardware configuration:
- OS:

- Kernel:

- Installation method:

**Additional context**

[2020-03-22 19:47] kris-nova commented on #38
I will post a solution as soon as I find it but wanted to document

[2020-03-22 19:49] kris-nova commented on #38
Steps to resolve where to simply clone the repository and build from source.

[code]

We should get this documented since Falco now depends on this project for new installations.

[2020-03-22 19:49] #38 closed

[2020-03-22 20:02] kris-nova opened #39 "Built Local Container/Feature"
**Motivation**

**Feature**

Can we please have an easy way to build for the current system such that the user does not need to run the `uname` commands?

If we were to create a `driverkit-local` container we could easily generate the configuration file from the system it's running on, and build both the BPF probe and the kernel module.

Then we could add this container to the helm chart or other

[2020-03-22 20:04] kris-nova commented on #39
If you could just do something like this it would be really cool.

[code]

[2020-03-22 20:19] kris-nova opened #40 "Can we help users understand how and when they should use driverkit?"
**What to document**

Right now `helm install falco stable/falco` doesn't come up because the driver is missing.

I believe that the intent is for users to user `driverkit` to install various drivers - right?

Can we please document this expectation so that folks understand what they need to do to install Falco?

Right now the Falco documentation doesn't mention `driverkit` I don't think [docs](ht

[2020-03-23 19:32] yashbhutwala commented on #22
@leodido the image [here](https://hub.docker.com/layers/docker/for-desktop-kernel/4.19.76-d665d2cbc4fe70f8ab08ba2cd82d052e41d2a704-amd64/images/sha256-c42bff3d5f285dcb1dde0937a8b99e2f51f1f764bd9b847c5d188fd02bb74136?context=explore) as described in [this comment](https://github.com/docker/for-win/issues/6099#issuecomment-602665387) should unblock you 😄

[2020-03-23 23:03] leodido commented on #22
Will give it a shot soon!

Thanks Yash! 🤗

[2020-03-24 18:12] leodido opened #41 "Support AmazonLinux2 target"
**Motivation**

Since some Falco versions, we stopped providing prebuilt drivers for AmazonLinux 2 kernels.
In fact, we have issues like this coming up: https://github.com/falcosecurity/falco/issues/1113

This was one of the reasons we also created this tool.

**Feature**

Create a target to build drivers (Falco kernel module and Falco eBPF probe) for AmazonLinux2 kernels.

[2020-03-24 19:30] leodido commented on #37
Changed my mind.

/close

[2020-03-24 19:30] poiana commented on #37
@leodido: Closing this issue.

<details>

In response to [this](https://github.com/falcosecurity/driverkit/issues/37#issuecomment-603461198):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-in

[2020-03-24 19:40] leodido commented on #37
Wiat the title said it all already: when **only** building eBPF probe (which means no module build requested).

[2020-03-25 17:17] fntlnz opened #42 "Vanilla does not work with .0 kernel releases"
**Describe the bug**

Linux tags `.0` releases omitting the `.0` part, so `4.17.0` is in reality `4.17`.
This means that when using the vanilla builder against a `.0` release, like `4.17` we can't find the headers.

**How to reproduce it**
Create a vanilla builder like this one

[code]

Then attach to it anything as `kernelconfigdata`

**Expected behaviour**

It builds the driver.

**Screenshots**

[2020-03-26 10:17] leogr opened #43 "ineffectual ENV key replacer"
**Describe the bug**

[Here](https://github.com/falcosecurity/driverkit/blob/b9463d5a70aebb5f53c6255fd6382ea4eff205d6/cmd/root.go#L134) the ENV key replacer is set for `-` then is overwritten with a replacer for `.`:
[code]
So the first replacer will never work, because `SetEnvKeyReplacer` won't add a new replacer, will just overwrite the previous one.

Although this might not be a real issue, it

[2020-03-26 10:18] leogr commented on #43
/cc @leodido

[2020-03-26 12:23] leodido opened #45 "AmazonLinux target"
**Motivation**

As for AmazonLinux2 (#41) we should provide a target for end-users using AmazonLinux.

The implementation is very similar. What changes is mainly where to find the `kernel-*` and `kernel-devel-*` packages.

**Feature**

Create a target to build drivers (Falco kernel module and Falco eBPF probe) for AmazonLinux kernels.

[2020-03-27 08:57] leogr commented on #43
/assign

[2020-03-27 17:35] #41 closed

[2020-03-27 17:35] #45 closed

[2020-03-28 14:15] #43 closed

[2020-03-29 17:03] leodido commented on #22
Okay, that image should fix the issue caused by a different `RANDSTRUCT_HASHED_SEED`.

I did a quick try:

[code]

As you can see, the seed now matches!  🎉

This should allow our kernel module to be inserted without any trouble.

At this point we have some possible paths:

1. wait they fix the seed in their docker image (to be the same that `linuxkit/kernel:4.19.76` ships)
     1. at that point th

[2020-03-29 17:11] yashbhutwala commented on #22
2. sounds good to me!  😄

[2020-03-30 10:39] leodido opened #48 "CLI tests"
**Motivation**

The `driverkit` CLI has an extensive set of flag and a well-defined behavior.

It can read options from a file (`$HOME/.driverkit.yaml` default, or `-c some.yaml`), from env variables, from flags.

It has been already manually tested.
Yet, to ensure the behavior remains the same across time and new features, we'd need a testing framework for the CLI.

**Feature**

Setup a testing "

[2020-03-30 14:07] #48 closed

[2020-03-31 13:54] leogr commented on #39
Hey @kris-nova
IMHO, `driverkit` should not be responsible for installing things, rather `falcoctl` should do that by using driverkit as a library (see https://github.com/falcosecurity/falcoctl/issues/81 ).
WDYT?

[2020-04-15 13:46] fntlnz opened #52 "Dry run should check the remote urls"
**Motivation**

We have a flag to execute driverkit in a dry run mode that actually only validates the parameters.
Since driverkit heavily depends on the correctness of the parameters passed to download the correct kernel headers/source for the current distribution it seems right to me that dry run also checks the remote URLs for the existence of the resources without downloading the final artifac

[2020-04-21 10:41] leogr opened #55 "Kubefactory improvements and auth support"
**Motivation**

As we discovered, since `k8s.io/kubectl v0.17.3` it's easy to use their provided factory, moreover, we should also support different auth mechanisms by simply importing the package mentioned below to enable all plugins. The [event-generator implementation](https://github.com/falcosecurity/event-generator/blob/master/cmd/run.go) is a good example to follow.
N.B.: at the time of writ

[2020-04-21 10:42] leogr commented on #55
/assign

[2020-04-22 10:11] leogr opened #58 "Error loop if the pod disappears"
**Describe the bug**

If the builder pod disappears while driverkit is watching it, driverkit enters an infinite error loop [here](https://github.com/falcosecurity/driverkit/blob/4b8d30894b02ef94b0a7298e6a7c380d371ce8a2/pkg/driverbuilder/kubernetes.go#L220).

N.B.: looking at the code it should stop after 10 mins, anyway

**How to reproduce it**

Run the `driverkit kubernetes` command and when the

[2020-04-27 10:13] leodido opened #60 "GKE builder"
**Motivation**

We have a lot of people using Falco on GKE COS.

**Feature**

Create a builder for building drivers for GKE COS.

[2020-04-27 10:49] leodido opened #61 "AKS builder"
**Motivation**

Provide a builder for people willing to use Falco, and so its driver(s), on AKS

There have been some [requests](https://github.com/falcosecurity/falco/issues/1078#issuecomment-605090379).

**Feature**

Implement a builder here to build drivers for AKS kernels.

**Alternatives**

**Additional context**

[2020-04-27 11:03] leodido opened #62 "Goreleaser"
**Motivation**

The release workflow of this project is almost complete, the missing piece is to integrate in it `goreleaser` on git tags.

**Feature**

Configure `goreleaser` on git tags (versions).

[2020-04-27 11:03] leodido commented on #62
/assign @leogr

[2020-04-29 12:22] #62 closed

[2020-05-01 01:33] robotica72 opened #64 "Ubuntu : specific kernel headers not found"
Using the example for Ubuntu-generic works, but I am trying to build for Ubuntu 16.04, kernel 4.4.0-142-generic, kernelversion=169

Executing with these options throws: error="specific kernel headers not found"

To reproduce:
driverkit docker --output-module /tmp/falco.ko  --kernelrelease=4.4.0-142-generic --driverversion=dev --target=ubuntu-generic

**Expected behaviour**
Successful build using t

[2020-05-01 04:40] aiyijing opened #65 "Add proxy options to set http proxy in container"
**Motivation**

In some special network environment, such as intranet, network restricted area (China).
The RPM package or compilation scaffold cannot be downloaded or the download speed is very
slow in container

**Feature**

Set the HTTP proxy environment variable so that the download data in the container
uses the proxy

[2020-05-03 13:38] leogr commented on #64
Have you tried
[code]
?

Note that your kernelversion seems to be 168, and not 169.

[2020-05-03 18:48] robotica72 commented on #64
@leogr - Doh!  I didnt notice that typo, Thanks for catching that - changed to 168 (The correct version as you pointed out), and it completed the build.   Thanks again for catching that.

[2020-05-03 20:51] leodido commented on #64
Thanks @leogr for noticing this

And thanks @robotica72 for trying `driverkit` :)

/close

[2020-05-03 20:51] #64 closed

[2020-05-03 20:51] poiana commented on #64
@leodido: Closing this issue.

<details>

In response to [this](https://github.com/falcosecurity/driverkit/issues/64#issuecomment-623180064):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-in

[2020-05-04 17:51] kris-nova commented on #1
Strong +1 - Go! Let's make it happen.

[2020-05-05 11:45] leogr commented on #1
+1

[2020-05-05 12:40] #65 closed

[2020-05-08 14:34] natchaphon-r commented on #23
Here are the steps I did when trying to build the kernel module, in case it is useful for future documentation and other folks who may run into issues while documentation is still in progress.

My system (vanilla kernel)
[code]

My vanilla kernel configuration (/tmp/vanilla.yaml)
[code]

Building vanilla kernel module requires kernel configuration
[code]

Building kernel/BPF modules
[code]

I made

[2020-06-02 16:15] nicolassdiaz opened #67 "Ubuntu GKE error="specific kernel headers not found""
**Describe the bug**

I am trying to build for a ubuntu gke but I get the error:

error="specific kernel headers not found"

**How to reproduce it**

./driverkit docker --output-module falco_ubuntu-generic_4.15.0-1044-gke_46.ko --kernelversion=46 --kernelrelease=4.15.0-1044-gke --driverversion=dev --target=ubuntu-generic

**Expected behaviour**

Successful build using the kernel options

**Environ

[2020-06-03 12:21] leogr commented on #67
AFAIK there's no GKE builder implemented yet (see https://github.com/falcosecurity/driverkit/issues/60 ), so `driverkit` cannot build the driver with `--kernelversion=46 --kernelrelease=4.15.0-1044-gke`.

Note: I'm assuming the "Environment" section does not relate to the targeted env, but just one you used to run the command, correct?

[2020-06-03 13:59] nicolassdiaz commented on #67
Hi @leogr,

I am trying to install Falco on GKE with Ubuntu and that kernel release, there is another way to build ?.

What do you recommend ?

note: about env used to build, you are right.

Thank you!

[2020-09-30 10:28] fntlnz commented on #67
I think it's because of the `-gke` suffix. I don't see them mirrored here https://mirrors.edge.kernel.org/ubuntu/pool/main/l/linux/

We need to add

https://mirrors.edge.kernel.org/ubuntu/pool/main/l/linux-gke-5.4/
and
https://mirrors.edge.kernel.org/ubuntu/pool/main/l/linux-gke-4.15/

to the generic pool here https://github.com/falcosecurity/driverkit/blob/feat/debian-cloud-amd64/pkg/driverbuilde

[2020-10-13 15:58] wiperpaul opened #74 "Installation Documentation"
**Making Driverkit**

I was confused after running `make` and not seeing an immediate bin folder or some clear indication of where the bin file was. I thought it had failed initially.

Maybe some documentation that the tool is found in the /_output/bin folder after running `make` or some basic installation guide including the golang dependency would be useful.

[2020-10-14 15:47] farshad-hobsons opened #75 "Support bottlerocket"
**Motivation**
It will be useful to support [bottlerocket-os](https://github.com/bottlerocket-os/bottlerocket) which is a container focused distro from AWS.

**Feature**
Verify whether the vanilla target works for bottlerocket or not, and in such case document it.

Or, create a explicit target for bottlerocket.

**Alternatives**

**Additional context**
- Currently bottlerocket does not publish ker

[2020-10-16 11:55] wiperpaul opened #76 "Kernel Headers not found: Ubuntu 20.04 Kernel 5.8"
**specific kernel headers not found**

I use kernel 5.8 for some helper functions for other iovisor/bcc work, I cannot get falco to build bpf and thought `driverkit` might solve my issue. My original issue was `use of undeclared identifier 'KBUILD_MODNAME'` when I ran `make bpf`.

**How to reproduce it**

ubuntu_5.8.0-050800-generic.yaml

kernelversion: 202008022230
target: ubuntu-generic
output:

[2020-11-10 07:07] chan-maddanna opened #77 "FATA exiting error="Error response from daemon: invalid reference format""
**Describe the bug**

Trying to build against Docker version 19.03.8

[code]

and here are the two different configs I am trying, both yaml's listed below with the command line:

[code]

Docker itself is doing fine and no issues:

[code]

and another familiar config :

[code]
and finally I have tried it without config as well, providing everything on command line and still same error:

[code]

**H

[2020-11-20 01:23] poiana commented on #11
Issues go stale after 90d of inactivity.

Mark the issue as fresh with `/remove-lifecycle stale`.

Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle stale

[2020-11-20 07:23] poiana commented on #19
Issues go stale after 90d of inactivity.

Mark the issue as fresh with `/remove-lifecycle stale`.

Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle stale

[2020-11-20 13:23] poiana commented on #21
Issues go stale after 90d of inactivity.

Mark the issue as fresh with `/remove-lifecycle stale`.

Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle stale

[2020-11-20 13:23] poiana commented on #40
Issues go stale after 90d of inactivity.

Mark the issue as fresh with `/remove-lifecycle stale`.

Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle stale

[2020-11-20 13:23] poiana commented on #37
Issues go stale after 90d of inactivity.

Mark the issue as fresh with `/remove-lifecycle stale`.

Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle stale

[2020-11-20 13:23] poiana commented on #42
Issues go stale after 90d of inactivity.

Mark the issue as fresh with `/remove-lifecycle stale`.

Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle stale

[2020-11-20 13:23] poiana commented on #22
Issues go stale after 90d of inactivity.

Mark the issue as fresh with `/remove-lifecycle stale`.

Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle stale

[2020-11-20 13:23] poiana commented on #39
Issues go stale after 90d of inactivity.

Mark the issue as fresh with `/remove-lifecycle stale`.

Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle stale

[2020-11-20 19:23] poiana commented on #52
Issues go stale after 90d of inactivity.

Mark the issue as fresh with `/remove-lifecycle stale`.

Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle stale

[2020-11-20 19:23] poiana commented on #55
Issues go stale after 90d of inactivity.

Mark the issue as fresh with `/remove-lifecycle stale`.

Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle stale

[2020-11-20 19:23] poiana commented on #58
Issues go stale after 90d of inactivity.

Mark the issue as fresh with `/remove-lifecycle stale`.

Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle stale

[2020-11-20 19:23] poiana commented on #60
Issues go stale after 90d of inactivity.

Mark the issue as fresh with `/remove-lifecycle stale`.

Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle stale

[2020-11-20 19:23] poiana commented on #61
Issues go stale after 90d of inactivity.

Mark the issue as fresh with `/remove-lifecycle stale`.

Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle stale

[2020-11-21 01:23] poiana commented on #1
Issues go stale after 90d of inactivity.

Mark the issue as fresh with `/remove-lifecycle stale`.

Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle stale

[2020-11-21 01:23] poiana commented on #23
Issues go stale after 90d of inactivity.

Mark the issue as fresh with `/remove-lifecycle stale`.

Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle stale

[2020-12-01 12:14] fntlnz opened #78 "Support newer kernels in the CentOS builder"
**Motivation**

Our[ CentOS builder] (https://github.com/falcosecurity/driverkit/blob/master/pkg/driverbuilder/builder/centos.go) does not seem to support kernels other than 2.6 and 3.10

**Feature**

We need to support the newer kernels.
**Alternatives**

**Additional context**

https://github.com/falcosecurity/falco/issues/1433

[2020-12-23 03:35] poiana commented on #11
Stale issues rot after 30d of inactivity.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle rotten

[2020-12-23 21:35] poiana commented on #19
Stale issues rot after 30d of inactivity.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle rotten

[2020-12-24 03:35] poiana commented on #21
Stale issues rot after 30d of inactivity.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle rotten

[2020-12-24 03:35] poiana commented on #40
Stale issues rot after 30d of inactivity.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle rotten

[2020-12-24 09:35] poiana commented on #37
Stale issues rot after 30d of inactivity.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle rotten

[2020-12-24 09:35] poiana commented on #42
Stale issues rot after 30d of inactivity.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle rotten

[2020-12-24 15:35] poiana commented on #22
Stale issues rot after 30d of inactivity.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle rotten

[2020-12-24 15:35] poiana commented on #39
Stale issues rot after 30d of inactivity.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle rotten

[2020-12-24 21:35] poiana commented on #52
Stale issues rot after 30d of inactivity.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle rotten

[2020-12-25 03:35] poiana commented on #55
Stale issues rot after 30d of inactivity.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle rotten

[2020-12-25 03:35] poiana commented on #58
Stale issues rot after 30d of inactivity.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle rotten

[2020-12-25 03:35] poiana commented on #60
Stale issues rot after 30d of inactivity.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle rotten

[2020-12-25 09:35] poiana commented on #61
Stale issues rot after 30d of inactivity.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle rotten

[2020-12-25 21:35] poiana commented on #1
Stale issues rot after 30d of inactivity.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle rotten

[2020-12-25 21:35] poiana commented on #23
Stale issues rot after 30d of inactivity.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle rotten

[2020-12-29 15:35] poiana commented on #67
Issues go stale after 90d of inactivity.

Mark the issue as fresh with `/remove-lifecycle stale`.

Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle stale

[2021-01-11 21:38] poiana commented on #74
Issues go stale after 90d of inactivity.

Mark the issue as fresh with `/remove-lifecycle stale`.

Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle stale

[2021-01-12 21:38] poiana commented on #75
Issues go stale after 90d of inactivity.

Mark the issue as fresh with `/remove-lifecycle stale`.

Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle stale

[2021-01-13 14:11] mike-stewart commented on #75
/remove-lifecycle stale

[2021-01-13 17:33] leodido opened #79 "Unable to find kernel headers for debian_5.8.0-1-cloud-amd64_1"
**Describe the bug**

By debugging https://github.com/falcosecurity/evolution/issues/43 (more info [here](https://github.com/falcosecurity/evolution/issues/43#issuecomment-759575551), I found that the `debian` builder is not able to find kernel headers for [these prebuild driver configurations](https://github.com/falcosecurity/test-infra/pull/276) (ie., `debian_5.8.0-1-cloud-amd64_1`).

**How to r

[2021-01-14 11:12] maxgio92 commented on #79
I think that this happens also for other kernel versions, like `5.9.0-1-amd64`, reading the [prow](https://github.com/falcosecurity/test-infra) [periodic job logs](https://prow.falco.org/view/s3/falco-prow-logs/logs/build-drivers-debian-periodic/1349551974969774080).

[2021-01-14 15:38] poiana commented on #76
Issues go stale after 90d of inactivity.

Mark the issue as fresh with `/remove-lifecycle stale`.

Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle stale

[2021-01-18 11:48] leodido opened #81 "Errors building Falco drivers for Linux kernels 5.10.x"
**Describe the bug**

The driverkit internal scripts do not work for Linux kernels 5.10.x.

**How to reproduce it**

Given this configuration file (named "d510.yaml"):

[code]

Execute:

[code]

**Expected behavior**

To build Falco drivers for the specified Linux Kernel 5.10.

**Screenshots**

[code]

[2021-01-18 13:26] leodido commented on #81
Prolly prolly I have a fix

[code]

Will submit it after some more testing

[2021-01-18 15:26] #81 closed

[2021-01-18 18:55] #60 closed

[2021-01-18 18:55] #67 closed

[2021-01-22 12:44] leodido opened #85 "Version flag not working"
**Describe the bug**

The `driverkit -v` doesn't output the driverkit version.

**How to reproduce it**

[code]

**Expected behaviour**

To output:

`v0.3.0`

**Screenshots**

![image](https://user-images.githubusercontent.com/120051/105492133-bf1c3700-5cb7-11eb-9e6f-17605ad2fe05.png)

**Additional context**

The release process has the LDFLAGS as you can see [here](https://app.circleci.com/pipeli

[2021-01-22 20:56] poiana commented on #11
Rotten issues close after 30d of inactivity.

Reopen the issue with `/reopen`.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Provide feedback via https://github.com/falcosecurity/community.
/close

[2021-01-22 20:56] #11 closed

[2021-01-22 20:56] poiana commented on #11
@poiana: Closing this issue.

<details>

In response to [this](https://github.com/falcosecurity/driverkit/issues/11#issuecomment-765679766):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-inf

[2021-01-23 02:56] poiana commented on #19
Rotten issues close after 30d of inactivity.

Reopen the issue with `/reopen`.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Provide feedback via https://github.com/falcosecurity/community.
/close

[2021-01-23 02:56] #19 closed

[2021-01-23 02:56] poiana commented on #19
@poiana: Closing this issue.

<details>

In response to [this](https://github.com/falcosecurity/driverkit/issues/19#issuecomment-765836305):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-inf

[2021-01-23 09:43] poiana commented on #21
Rotten issues close after 30d of inactivity.

Reopen the issue with `/reopen`.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Provide feedback via https://github.com/falcosecurity/community.
/close

[2021-01-23 09:43] poiana commented on #37
Rotten issues close after 30d of inactivity.

Reopen the issue with `/reopen`.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Provide feedback via https://github.com/falcosecurity/community.
/close

[2021-01-23 09:43] poiana commented on #40
Rotten issues close after 30d of inactivity.

Reopen the issue with `/reopen`.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Provide feedback via https://github.com/falcosecurity/community.
/close

[2021-01-23 09:43] poiana commented on #21
@poiana: Closing this issue.

<details>

In response to [this](https://github.com/falcosecurity/driverkit/issues/21#issuecomment-765896706):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-inf

[2021-01-23 09:43] #40 closed

[2021-01-23 09:43] poiana commented on #42
Rotten issues close after 30d of inactivity.

Reopen the issue with `/reopen`.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Provide feedback via https://github.com/falcosecurity/community.
/close

[2021-01-23 09:43] poiana commented on #37
@poiana: Closing this issue.

<details>

In response to [this](https://github.com/falcosecurity/driverkit/issues/37#issuecomment-765896709):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-inf

[2021-01-23 09:43] #37 closed

[2021-01-23 09:43] poiana commented on #40
@poiana: Closing this issue.

<details>

In response to [this](https://github.com/falcosecurity/driverkit/issues/40#issuecomment-765896707):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-inf

[2021-01-23 09:43] poiana commented on #42
@poiana: Closing this issue.

<details>

In response to [this](https://github.com/falcosecurity/driverkit/issues/42#issuecomment-765896712):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-inf

[2021-01-23 09:43] #42 closed

[2021-01-23 09:44] mazzy89 commented on #21
/reopen

[2021-01-23 09:44] poiana commented on #21
@mazzy89: Reopened this issue.

<details>

In response to [this](https://github.com/falcosecurity/driverkit/issues/21#issuecomment-765896805):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-i

[2021-01-23 09:45] mazzy89 commented on #21
I will work on this in the upcoming days. Sorry it is taking a bit longer.

[2021-01-24 02:56] poiana commented on #22
Rotten issues close after 30d of inactivity.

Reopen the issue with `/reopen`.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Provide feedback via https://github.com/falcosecurity/community.
/close

[2021-01-24 02:56] poiana commented on #22
@poiana: Closing this issue.

<details>

In response to [this](https://github.com/falcosecurity/driverkit/issues/22#issuecomment-766281518):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-inf

[2021-01-24 02:56] #22 closed

[2021-01-24 02:56] poiana commented on #39
Rotten issues close after 30d of inactivity.

Reopen the issue with `/reopen`.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Provide feedback via https://github.com/falcosecurity/community.
/close

[2021-01-24 02:56] poiana commented on #39
@poiana: Closing this issue.

<details>

In response to [this](https://github.com/falcosecurity/driverkit/issues/39#issuecomment-766281521):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-inf

[2021-01-24 02:56] #39 closed

[2021-01-24 02:56] poiana commented on #52
Rotten issues close after 30d of inactivity.

Reopen the issue with `/reopen`.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Provide feedback via https://github.com/falcosecurity/community.
/close

[2021-01-24 02:56] poiana commented on #52
@poiana: Closing this issue.

<details>

In response to [this](https://github.com/falcosecurity/driverkit/issues/52#issuecomment-766281534):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-inf

[2021-01-24 02:56] #52 closed

[2021-01-24 08:56] poiana commented on #55
Rotten issues close after 30d of inactivity.

Reopen the issue with `/reopen`.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Provide feedback via https://github.com/falcosecurity/community.
/close

[2021-01-24 08:56] poiana commented on #58
Rotten issues close after 30d of inactivity.

Reopen the issue with `/reopen`.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Provide feedback via https://github.com/falcosecurity/community.
/close

[2021-01-24 08:56] #55 closed

[2021-01-24 08:56] #58 closed

[2021-01-24 08:56] poiana commented on #55
@poiana: Closing this issue.

<details>

In response to [this](https://github.com/falcosecurity/driverkit/issues/55#issuecomment-766313624):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-inf

[2021-01-24 08:56] poiana commented on #58
@poiana: Closing this issue.

<details>

In response to [this](https://github.com/falcosecurity/driverkit/issues/58#issuecomment-766313628):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-inf

[2021-01-24 14:56] poiana commented on #61
Rotten issues close after 30d of inactivity.

Reopen the issue with `/reopen`.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Provide feedback via https://github.com/falcosecurity/community.
/close

[2021-01-24 14:56] #61 closed

[2021-01-24 14:56] poiana commented on #61
@poiana: Closing this issue.

<details>

In response to [this](https://github.com/falcosecurity/driverkit/issues/61#issuecomment-766361012):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-inf

[2021-01-25 02:56] poiana commented on #1
Rotten issues close after 30d of inactivity.

Reopen the issue with `/reopen`.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Provide feedback via https://github.com/falcosecurity/community.
/close

[2021-01-25 02:56] poiana commented on #23
Rotten issues close after 30d of inactivity.

Reopen the issue with `/reopen`.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Provide feedback via https://github.com/falcosecurity/community.
/close

[2021-01-25 02:56] poiana commented on #1
@poiana: Closing this issue.

<details>

In response to [this](https://github.com/falcosecurity/driverkit/issues/1#issuecomment-766507070):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infr

[2021-01-25 02:56] #1 closed

[2021-01-25 02:56] #23 closed

[2021-01-25 02:56] poiana commented on #23
@poiana: Closing this issue.

<details>

In response to [this](https://github.com/falcosecurity/driverkit/issues/23#issuecomment-766507073):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-inf

[2021-01-25 09:18] leodido opened #86 "Builder for RHCOS"
**Motivation**

This [comment](https://github.com/falcosecurity/falco/issues/1505#issuecomment-763430222) explains well - IMHO - why the community might benefit from having a set of prebuilt Falco drivers for RHCOS.

To have such prebuilt drivers, we need a driverkit builder for RHCOS, first of all.

**Feature**

Create a builder for RHCOS.

[2021-02-08 08:58] poiana commented on #77
Issues go stale after 90d of inactivity.

Mark the issue as fresh with `/remove-lifecycle stale`.

Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle stale

[2021-02-11 03:00] poiana commented on #74
Stale issues rot after 30d of inactivity.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle rotten

[2021-02-11 15:12] fntlnz opened #88 "Amazonlinux2 drivers for kernels in extras repositories"
**Motivation**
Amazonlinux2 has a way to enable extras repositories defined [here](https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/amazon-linux-ami-basics.html#extras-library) .

In that way, an user can get a 5.4.x kernel while normally al2 has a 4.19.x

**Feature**

Build the drivers for the extra repos

**Alternatives**

**Additional context**

[2021-02-13 21:00] poiana commented on #76
Stale issues rot after 30d of inactivity.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle rotten

[2021-02-22 15:01] poiana commented on #21
Rotten issues close after 30d of inactivity.

Reopen the issue with `/reopen`.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Provide feedback via https://github.com/falcosecurity/community.
/close

[2021-02-22 15:01] poiana commented on #21
@poiana: Closing this issue.

<details>

In response to [this](https://github.com/falcosecurity/driverkit/issues/21#issuecomment-783435933):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-inf

[2021-02-22 15:01] #21 closed

[2021-02-25 21:10] evalsocket commented on #85
/assign @evalsocket

[2021-02-25 21:12] evalsocket commented on #78
@fntlnz I want to pick this. If it is a good first issue

[2021-02-25 22:10] evalsocket commented on #85
@leodido on my local it is working fine

[code]

[2021-03-02 10:33] leogr opened #89 "Switch from Bintray to download.falco.org"
**Motivation**

See https://github.com/falcosecurity/falco/issues/1567

**Feature**

Builder container images need to fetch artifacts from the new locations.

**Alternatives**

No alternative.

**Additional context**

The resolution of this issue is currently blocked by some subtasks of https://github.com/falcosecurity/falco/issues/1567

[2021-03-02 10:33] leogr commented on #89
/assign

[2021-03-10 09:11] poiana commented on #77
Stale issues rot after 30d of inactivity.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle rotten

[2021-03-12 21:00] WFer-20 opened #90 "Amazon Linux Kernel 5.4.91-41 Missing from Build Process"
**Amazon Linux Kernel 5.4.91-41 is missing from the driverbuilder/builder/amazonlinux.go **

**How to reproduce it**

**Expected behaviour**

**Screenshots**

**Environment**

- Falco version:

- System info:

- Cloud provider or hardware configuration:
- OS:

- Kernel:

- Installation method:

**Additional context**

[2021-03-12 21:22] WFer-20 commented on #90
Sysdig encountered a problem when attempting to build an AmazonLinux2 kernel probe.  Falco will encounter the same problem.  This is the guidance provided by Amazon:

“The 5.4 kernel is in an “extras” repository rather than “core”.

The corresponding URL would look like this:

http://amazonlinux.us-east-1.amazonaws.com/2/extras/kernel-5.4/latest/x86_64/mirror.list

Falco will find this problem wit

[2021-03-13 03:09] poiana commented on #74
Rotten issues close after 30d of inactivity.

Reopen the issue with `/reopen`.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Provide feedback via https://github.com/falcosecurity/community.
/close

[2021-03-13 03:09] poiana commented on #74
@poiana: Closing this issue.

<details>

In response to [this](https://github.com/falcosecurity/driverkit/issues/74#issuecomment-797856220):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-inf

[2021-03-13 03:09] #74 closed

[2021-03-15 21:42] poiana commented on #76
Rotten issues close after 30d of inactivity.

Reopen the issue with `/reopen`.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Provide feedback via https://github.com/falcosecurity/community.
/close

[2021-03-15 21:42] #76 closed

[2021-03-15 21:42] poiana commented on #76
@poiana: Closing this issue.

<details>

In response to [this](https://github.com/falcosecurity/driverkit/issues/76#issuecomment-799771880):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-inf

[2021-03-22 11:30] leodido opened #91 "Switch to falcosecurity/libs for drivers sources"
**Describe the bug**

Now that the drivers and libs source [has been contributed]() to the falcosecurity organization, this tool is not working anymore correctly because it still downloads from the draios/sysdig repository, which does not contain anymore those sources.

**How to reproduce it**

Just run it.

**Expected behavior**

To work as intended.

[2021-03-22 15:52] #90 closed

[2021-03-23 14:22] zuc commented on #88
Fixed by #92.
/close

[2021-03-23 14:22] poiana commented on #88
@zuc: Closing this issue.

<details>

In response to [this](https://github.com/falcosecurity/driverkit/issues/88#issuecomment-804943985):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infra]

[2021-03-23 14:22] #88 closed

[2021-03-23 14:32] #89 closed

[2021-03-23 14:35] #91 closed

[2021-04-09 10:28] poiana commented on #77
Rotten issues close after 30d of inactivity.

Reopen the issue with `/reopen`.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Provide feedback via https://github.com/falcosecurity/community.
/close

[2021-04-09 10:28] poiana commented on #77
@poiana: Closing this issue.

<details>

In response to [this](https://github.com/falcosecurity/driverkit/issues/77#issuecomment-816587058):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-inf

[2021-04-09 10:28] #77 closed

[2021-04-13 15:55] poiana commented on #75
Issues go stale after 90d of inactivity.

Mark the issue as fresh with `/remove-lifecycle stale`.

Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle stale

[2021-04-13 22:01] mike-stewart commented on #75
/remove-lifecycle stale

[2021-04-14 15:55] poiana commented on #79
Issues go stale after 90d of inactivity.

Mark the issue as fresh with `/remove-lifecycle stale`.

Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle stale

[2021-04-14 17:37] maxgio92 commented on #79
/remove-lifecycle stale

[2021-04-20 00:49] jkbuster-work19 opened #97 "Driverkit unable to build on Flatcar Stable (Kernel 5.10.25)"
**Describe the bug**

driverkit scripts do not work for current Flatcar release (Kernel 5.10.25)

**How to reproduce it**

configs/flatcar-2765.2.2.yaml:

[code]

Run:

[code]

**Expected behaviour**

eBPF probe builds for desired kernel

**Screenshots**

Initially, it appears that python3 is needed:
[code]

After adding that into the driverkit-builder image, things get stuck due to `-fmacro-prefi

[2021-04-25 09:57] poiana commented on #86
Issues go stale after 90d of inactivity.

Mark the issue as fresh with `/remove-lifecycle stale`.

Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle stale

[2021-05-12 17:11] muffin87 commented on #97
I'm encountering the same issue.

Here is my config:

`kernelrelease: 5.10.15-1
kernelversion: 1
target: centos
output:
  module: /tmp/falco-centos7.ko
  probe: /tmp/falco-probe-bpf.o
driverversion: 5c0b863ddade7a45568c0ac97d037422c9efb750`

Here is the error message:

`DEBU %+ ln -sf /usr/bin/gcc-8 /usr/bin/gcc
DEBU .+ cd /tmp/driver
DEBU + make KERNELDIR=/tmp/kernel
DEBU *make -C /tmp/kernel M=/

[2021-05-15 11:36] afdesk opened #100 "Build other eBPF programs"
Hello!

**Motivation**

I am interested in using `driverkit` to build other eBPF programs besides Falco (currently working with `Tracee`).

**Feature**

I would like to propose some changes to make `driverkit` more generic, and I can implement those if the maintainers agree:
* add custom templates for the ebpf builders
* use different docker images for the ebpf builders
* add options to disable so

[2021-05-18 15:07] leodido commented on #100
Hey, @afdesk I like where this idea seems to go!

+1

I guess you're referring to `builder.Dockerfile` right?

If so, agree! +1
Having a mechanism to select a different "builder container image" can be also useful for things like Linuxkit (see [this branch](https://github.com/falcosecurity/driverkit/compare/feat/linuxkit) I worked on a bit in the past).

Could you elaborate more on what do you mea

[2021-05-19 21:42] leodido commented on #100
Nice to see you interested in improving and generalizing it!

Makes sense.

Understood. And I do agree.

The only thing I would argue is: in order to avoid an explosion of option/parameter combinations that may or may not be required with a given builder base image, wouldn't be optimal to think of a way to strip down the whole option selection to a single "configuration"?

Example: when using buil

[2021-05-25 10:27] poiana commented on #86
Stale issues rot after 30d of inactivity.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle rotten

[2021-05-26 22:08] poiana commented on #78
Issues go stale after 90d of inactivity.

Mark the issue as fresh with `/remove-lifecycle stale`.

Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle stale

[2021-05-27 04:08] poiana commented on #85
Issues go stale after 90d of inactivity.

Mark the issue as fresh with `/remove-lifecycle stale`.

Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle stale

[2021-05-28 13:01] afdesk commented on #100
Hi @leodido!
I needed time to learn `driverkit` options.

we will use an image name to define a scope of options and a template for ebpf builder, right?

If you agree, I can write and offer my custom builder for our ebpf program.

Also I think that the best place for new options is `ConfigOptions`.

It seems that I need to add next fields:
* `builderType` - a ubuntu builder type, i think about two

[2021-06-08 05:42] afdesk commented on #100
Hi @leodido!
There is a new idea for customizing `driverkit`.
For options/parameters I would use environment variables rather than yaml settings.
I'll take a fewer changes.

what do you think about it?
thanks!

[2021-06-08 14:42] VariableExp0rt opened #102 "Error from Docker with DriverKit when building for vanilla target (kernel version 5.10.x)"
Hey Falco Maintainers :) Thank you for this project!

**Describe the bug**

When building via DriverKit for a vanilla target, I am receiving the following error;

`✗ driverkit docker -c vanilla1.yaml --timeout 300
INFO using config file                             file=vanilla1.yaml
INFO driver building, it will take a few seconds   processor=docker
FATA exiting

[2021-06-08 16:38] VariableExp0rt commented on #102
Additionally, I can successfully compile the kernel module for the same target in the other issue mentioned above;
[code]
Using

[code]

I guess the kernels 5.x.x kernels are not yet supported?

[2021-06-10 09:15] VariableExp0rt commented on #102
Some more info having looked at the issue here which I believe to be the same (so this can probably be closed in favour of the other);

[code]

[2021-06-23 05:27] itaysk commented on #100
Hi @ledido, can you please comment?

[2021-06-23 09:42] afdesk commented on #100
Hi @leodido!
I've updated a PR, and did code more customized.
Now I use next command to build the ebpf program:
[code]
ubuntu.yaml:
[code]
traceeUbuntuTemplate.sh:
[code]

[2021-06-24 13:19] afdesk commented on #100
I've added a support for kernel headers from [ubuntu kernel mainline](https://kernel.ubuntu.com/~kernel-ppa/mainline/)
here is a new PR: [github.com/afdesk/my-driverkit/pull/3/files](https://github.com/afdesk/my-driverkit/pull/3/files).

there is no need to specify `kernelversion`. sample of `ubuntu.yaml`:
[code]

[2021-06-24 13:57] poiana commented on #86
Rotten issues close after 30d of inactivity.

Reopen the issue with `/reopen`.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Provide feedback via https://github.com/falcosecurity/community.
/close

[2021-06-24 13:57] poiana commented on #86
@poiana: Closing this issue.

<details>

In response to [this](https://github.com/falcosecurity/driverkit/issues/86#issuecomment-867658316):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-inf

[2021-06-25 15:28] leodido commented on #100
Ok @afdesk I've taken a look.

First of all thanks for approaching this. As said, I'd love to have a more generic/abstract driverkit!

Some thoughts.

## Using environment variables

To be totally honest, I'd prefer if we could keep (and I think it's totally doable) the driverkit CLI interface "stable". Meaning, not introducing different usage patterns for different use cases.

What I mean is that

[2021-06-26 19:57] poiana commented on #78
Stale issues rot after 30d of inactivity.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle rotten

[2021-06-28 07:31] afdesk commented on #100
Hi @leodido!
thanks for your answer.

yes, I agree with you about environment variable. I'll change it.
it was the fastest way to show and test our  ideas.

also, i'll try to add a new option into `ConfigOptions`.
and I agree too about a new target type `ubuntu-mainline`. I'll add it and retest.

Your feedback is really useful, will change my code )

[2021-06-28 13:57] poiana commented on #85
Stale issues rot after 30d of inactivity.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle rotten

[2021-07-09 14:22] itaysk commented on #100
Hi @leodido , so we have a POC that is implementing those changes. before we make a PR, we wanted to suggest a small feature that will possible help us and others with building other programs:
right now driverkit expects the builder image to contain the source code of the probe. We prefer not to build and store a new builder image for every commit in the probe source code. Currently our builder im

[2021-07-09 15:00] leodido commented on #100
Hey!

I think it's a good idea, tbh.
L.

On Fri, Jul 9, 2021 at 4:22 PM Itay Shakury ***@***.***>
wrote:

[2021-07-09 15:33] itaysk commented on #100
Great! any special guidance on how you would like expose the configuration? cc: @afdesk

[2021-07-12 07:50] afdesk commented on #100
Hi @leodido.
I could add a new config option `volume` to `rootOpts`. is it ok?
thanks!

[2021-07-12 09:16] leodido commented on #100
Hello folks,

now that I'm reasoning more about it lemme do an observation...

I'm not getting why you would need to build and store a new builder image for every commit/version of your probe.

The current approach (and that's the reason there is the `driverversion` option) is to download the probe source code into the container of the builder image.

https://github.com/falcosecurity/driverkit/blo

[2021-07-13 02:02] poiana commented on #75
Issues go stale after 90d of inactivity.

Mark the issue as fresh with `/remove-lifecycle stale`.

Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle stale

[2021-07-13 20:02] poiana commented on #79
Issues go stale after 90d of inactivity.

Mark the issue as fresh with `/remove-lifecycle stale`.

Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle stale

[2021-07-13 20:56] mike-stewart commented on #75
/remove-lifecycle stale

[2021-07-21 21:38] goshlanguage commented on #97
I tried to compile with vanilla upstream headers. I didn't run into the issues above but wanted to share my experience in case it's helpful to anyone.

I used the following manifest to try to compile a module and probe for `v2605.6.0`:

[code]

Invoked with `driverkit docker -c flatcar.yaml --timeout 300`

This built successfully, but after rsyncing the built module to my test vagrant and running

[2021-08-08 20:08] poiana commented on #78
Rotten issues close after 30d of inactivity.

Reopen the issue with `/reopen`.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Provide feedback via https://github.com/falcosecurity/community.
/close

[2021-08-08 20:08] poiana commented on #85
Rotten issues close after 30d of inactivity.

Reopen the issue with `/reopen`.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Provide feedback via https://github.com/falcosecurity/community.
/close

[2021-08-08 20:08] #78 closed

[2021-08-08 20:08] poiana commented on #78
@poiana: Closing this issue.

<details>

In response to [this](https://github.com/falcosecurity/driverkit/issues/78#issuecomment-894848669):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-inf

[2021-08-08 20:08] poiana commented on #85
@poiana: Closing this issue.

<details>

In response to [this](https://github.com/falcosecurity/driverkit/issues/85#issuecomment-894848675):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-inf

[2021-08-08 20:08] #85 closed

[2021-08-12 20:11] poiana commented on #79
Stale issues rot after 30d of inactivity.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle rotten

[2021-08-28 04:47] VJftw opened #103 "Absorb features from thought-machine/falco-probes"
👋 , I posted on the Kubernetes #falco Slack channel about our [thought-machine/falco-probes](https://github.com/thought-machine/falco-probes) project which automates the building and mirroring of eBPF kernel probes for Falco. We'd love to share and contribute some of our solutions to `driverkit` which help anyone else that has similar needs to us :smile:.

**Motivation**

We desire to deploy Falco

[2021-09-08 14:48] poiana commented on #102
Issues go stale after 90d of inactivity.

Mark the issue as fresh with `/remove-lifecycle stale`.

Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle stale

[2021-09-11 20:17] poiana commented on #79
Rotten issues close after 30d of inactivity.

Reopen the issue with `/reopen`.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Provide feedback via https://github.com/falcosecurity/community.
/close

[2021-09-11 20:17] #79 closed

[2021-09-11 20:17] poiana commented on #79
@poiana: Closing this issue.

<details>

In response to [this](https://github.com/falcosecurity/driverkit/issues/79#issuecomment-917472583):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-inf

[2021-10-08 11:16] dwindsor-scwx opened #105 "centos driverbuilder fails to download some CentOS 8 RPMs"
Some CentOS releases have been moved from Stream to Vault since the centos driverbuilder was created. This causes test-infra tests to fail when building CentOS 8.3, 8.2, and 8.1 kernels (8.4 kernels build successfully in test-infra):

[code]

For some reason, CentOS 8 releasees follow a different directory structure on `vault.centos.org` than any of the previous CentOS releases so special-case han

[2021-10-08 20:30] poiana commented on #102
Stale issues rot after 30d of inactivity.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle rotten

[2021-10-10 15:00] poiana commented on #100
Issues go stale after 90d of inactivity.

Mark the issue as fresh with `/remove-lifecycle stale`.

Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle stale

[2021-10-10 23:27] itaysk commented on #100
We will probably not pursue this route anymore since we came up with a better approach for us (GitHub.com/aquasecurity/btfhub). So we can close this one

[2021-11-03 10:22] LucaGuerra opened #106 "Unable to build eBPF probe for Debian with kernel 5.10.x"
Attempting to build a kernel eBPF probe for Debian with kernel 5.10 fails with `unknown argument: '-fmacro-prefix-map=/usr/src/linux-headers-5.10.0-9-common/='`

**How to reproduce it**

Run driverkit with this config file:
[code]

and command line:
[code]

The debug output will report:

[code]

**Expected behaviour**

**Screenshots**

**Environment**

- Falco version:
0.30.0
- System info:

- Clo

[2021-11-04 10:42] LucaGuerra opened #108 "Unable to build kernel module for Ubuntu AWS with 5.11.x kernels (GLIBC_2.33)"
**Describe the bug**

Some recent images require a version of GLIBC that is newer than the one shipped with our standard build image. To fix this, we may need to use different Docker images to build different kernels.

**How to reproduce it**

Try building this image: https://github.com/falcosecurity/test-infra/blob/master/driverkit/config/17f5df52a7d9ed6bb12d3b1768460def8439936d/ubuntu-aws_5.11.0

[2021-11-07 20:56] poiana commented on #102
Rotten issues close after 30d of inactivity.

Reopen the issue with `/reopen`.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Provide feedback via https://github.com/falcosecurity/community.
/close

[2021-11-07 20:56] poiana commented on #102
@poiana: Closing this issue.

<details>

In response to [this](https://github.com/falcosecurity/driverkit/issues/102#issuecomment-962679389):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-in

[2021-11-07 20:56] #102 closed

[2021-11-10 02:56] poiana commented on #100
Stale issues rot after 30d of inactivity.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle rotten

[2021-11-11 15:37] movd commented on #106
I tried to build a new builder image and used it with driverkit:

My steps:

* In `build/builder.Dockerfile` changed `debian:stable` to `debian:oldstable` and sucesfully build a new image with `docker build -f build/builder.Dockerfile -t falcosecurity/driverkit-builder:latest .`

* Tagged my local image `docker tag falcosecurity/driverkit-builder:latest falcosecurity/driverkit-builder:a492453`

*

[2021-11-11 18:24] #105 closed

[2021-11-19 09:07] poiana commented on #97
Stale issues rot after 30d of inactivity.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle rotten

[2021-12-10 03:17] poiana commented on #100
Rotten issues close after 30d of inactivity.

Reopen the issue with `/reopen`.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Provide feedback via https://github.com/falcosecurity/community.
/close

[2021-12-10 03:17] poiana commented on #100
@poiana: Closing this issue.

<details>

In response to [this](https://github.com/falcosecurity/driverkit/issues/100#issuecomment-990573653):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-in

[2021-12-10 03:17] #100 closed

[2021-12-19 09:22] poiana commented on #97
Rotten issues close after 30d of inactivity.

Reopen the issue with `/reopen`.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Provide feedback via https://github.com/falcosecurity/community.
/close

[2021-12-19 09:22] poiana commented on #97
@poiana: Closing this issue.

<details>

In response to [this](https://github.com/falcosecurity/driverkit/issues/97#issuecomment-997356097):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-inf

[2021-12-19 09:22] #97 closed

[2022-01-04 09:52] poiana commented on #103
Issues go stale after 90d of inactivity.

Mark the issue as fresh with `/remove-lifecycle stale`.

Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle stale

[2022-01-06 21:00] dwindsor opened #114 "CentOS 8.4 RPMs have been moved to vault.centos.org"
CentOS 8.5 was released on 2021-11-16. Since then, CentOS 8.4 has been reclassified as a Vault release.

Fix pkg/driverbuilder/builder/centos.go so it looks for CentOS 8.4 RPMs on vault.centos.org rather than mirrors.edge.kernel.org (which now hosts CentOS 8.5 RPMs).

[2022-01-07 16:39] Issif opened #116 "Upgrade Go, Alpine, etc"
**Motivation**

All packages, all dependencies, for driverkit and even the docker images used as bases are deprecated. We should upgrade them up to last available versions.

**Feature**

**Alternatives**

**Additional context**

[2022-01-09 01:03] #114 closed

[2022-01-10 15:54] poiana commented on #75
Issues go stale after 90d of inactivity.

Mark the issue as fresh with `/remove-lifecycle stale`.

Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle stale

[2022-01-10 22:41] mike-stewart commented on #75
/remove-lifecycle stale

[2022-01-12 10:34] Issif commented on #103
Hello @VJftw,

Thank you for this really valuable issue. We love to discuss about in a Community Call:

[code]

or in our Slack Channel https://kubernetes.slack.com #falco

Driverkit and all ways to improve the UX with modules/probes are part of our current topics.

[2022-01-12 10:41] Issif commented on #103
/remove-lifecycle stale

[2022-01-20 16:47] #106 closed

[2022-02-02 16:09] poiana commented on #108
Issues go stale after 90d of inactivity.

Mark the issue as fresh with `/remove-lifecycle stale`.

Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle stale

[2022-02-17 19:35] distortedsignal opened #126 "Driverkit fails to build Ubuntu releases"
**Describe the bug**

Current HEAD doesn't build successfully for supported Ubuntu releases.

AS A new developer to driverkit,
I WANT to build the Ubuntu drivers to make sure that I'm doing things right
WHEN I TRY... the driverkit fails with... lots of errors.

**How to reproduce it**

1. Clone the driverkit project into a new directory.
    * `mkdir repros && cd repros && git clone https://github

[2022-02-17 19:37] distortedsignal commented on #126
Forgot to check my formatting, give me a minute.

[2022-02-18 00:11] distortedsignal commented on #126
Ok, after more careful study (read: I made more files and ran the driverkit a lot), I was able to get AmazonLinux 2 to successfully compile _both_ the kernel module _and_ eBPF probe, I was able to successfully compile _just_ the kernel module for AmazonLinux, and I was able to successfully compile the kernel module _but not the eBPF module_ for the vanilla linux *.yaml file.

The vanilla linux out

[2022-02-23 00:29] distortedsignal commented on #126
Bump.

[2022-03-04 16:26] poiana commented on #108
Stale issues rot after 30d of inactivity.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle rotten

[2022-03-09 20:25] dwindsor opened #127 "Driverkit fails to build Ubuntu releases because it's missing zstd"
When trying to build a driver for newer Ubuntu kernels, `driverkit` fails to extract the downloaded kernel headers package because `zstd` is missing:

[code]

Adding `zstd` to the `driverkit` base container image isn't possible because it requires a version of `binutils` that's too recent:

[code]

 To fix this, we need bump the version of `binutils` currently hosted on `download.falco.org/depende

[2022-03-09 20:57] dwindsor commented on #126
We tracked this down to a missing package (`zstd`) and an out-of-date version of `binutils`. See #127 and [PR#128](https://github.com/falcosecurity/driverkit/pull/128).

[2022-03-11 19:22] arnaldo2792 commented on #75
Hello folks,

I think you folks could close this issue, since we (the Bottlerocket team) tested both the falco kernel module and the eBPF probe, and we verified that both work just fine. Although we [advice Bottlerocket users](https://github.com/bottlerocket-os/bottlerocket/issues/862) to use the eBPF probe instead of the kernel module, since some Bottlerocket images set the [kernel lockdown value

[2022-03-14 22:49] distortedsignal commented on #126
Ok, so it looks like the Ubuntu builds work now, but now the amazon builds are broken.

[code]

So to summarize:
| Distro | Return 0? | Outputs .o file? | Outputs .ko file? | STDERR |
| ------ | --------- | ---------------- | ----------------- | ------ |
| amazonlinux_2 | ❌ | ✅ | ✅ | `Error: No such container:path: $container_id:/tmp/driver/module.ko` |
| amazonlinux | ❌ | ❌ | ✅ | `Error: No such

[2022-03-14 22:53] distortedsignal commented on #126
Wait - I might have had a dirty output directory for my prior comment. Retrying now.

[2022-03-24 20:02] dwindsor opened #129 "Add support for Rocky Linux"
CentOS was EOL'ed in December, 2021. Rocky Linux is the successor to CentOS. Add support to driverkit for building Rocky Linux kernel drivers.

**Feature**

**Alternatives**

**Additional context**

[2022-04-03 17:54] poiana commented on #108
Rotten issues close after 30d of inactivity.

Reopen the issue with `/reopen`.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Provide feedback via https://github.com/falcosecurity/community.
/close

[2022-04-03 17:54] poiana commented on #108
@poiana: Closing this issue.

<details>

In response to [this](https://github.com/falcosecurity/driverkit/issues/108#issuecomment-1086917574):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-i

[2022-04-03 17:54] #108 closed

[2022-04-07 17:12] poiana commented on #116
Issues go stale after 90d of inactivity.

Mark the issue as fresh with `/remove-lifecycle stale`.

Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle stale

[2022-04-12 11:15] poiana commented on #103
Issues go stale after 90d of inactivity.

Mark the issue as fresh with `/remove-lifecycle stale`.

Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle stale

[2022-04-14 19:43] dwindsor opened #134 "CentOS builder isn't finding the latest kernel-devel packages for 8-Stream"
centos.go currently only looks on `mirrors.edge.kernel.org` for CentOS 8-Stream `kernel-devel` RPMs, but more recent 8-Stream RPMs can be found on `mirror.centos.org` as well.

Try to build a driver for a bleeding-edge CentOS 8-Stream kernel. In this case, `4.18.0-373.el8.x86_64`.

**Screenshots**
![Screen Shot 2022-04-14 at 3 41 47 PM](https://user-images.githubusercontent.com/934449/163464257-45

[2022-04-14 21:39] dwindsor commented on #134
Closing this, as this is unnecessary (packages can actually be found on mirrors.edge.kernel.org, I was just temp-banned for trying to access the server too many times).

[2022-04-14 21:39] #134 closed

[2022-04-15 12:47] #129 closed

[2022-04-20 09:37] leogr commented on #103
/remove-lifecycle stale
/help

[2022-04-20 09:37] poiana commented on #103
@leogr:
	This request has been marked as needing help from a contributor.

Please ensure the request meets the requirements listed [here](https://git.k8s.io/community/contributors/guide/help-wanted.md).

If this request no longer meets these requirements, the label can be removed
by commenting with the `/remove-help` command.

<details>

In response to [this](https://github.com/falcosecurity/drive

[2022-04-20 15:31] dwindsor opened #137 "driverkit doesn't build latest AmazonLinux2 configs"
The AmazonLinux2 builder fails to builder newer configs because it's unable to find `5.10.x` kernel releases.

**How to reproduce it**

Try to build a recent AmazonLinux2 kernel from the 5.10 series:

[code]

The AmazonLinux2 builder needs to be updated so it can find the latest `kernel` and `kernel-devel` packages.

**Screenshot**

Expected results:

![Screen Shot 2022-04-20 at 11 48 08 AM](https

[2022-04-21 00:51] abroglesc commented on #137
Created #139 to address ebpf probe version not just kmod

[2022-04-22 10:10] #137 closed

[2022-05-02 13:12] FedeDP opened #142 "Driverkit Debian/Ubuntu builder wrong kernel version"
**Describe the bug**

Basically, [kernel-crawler](https://github.com/falcosecurity/kernel-crawler) kernels list is exporting fields like:
[code]
(https://github.com/falcosecurity/kernel-crawler/blob/main/kernels/x86_64/list.json#L7368),
whose url is `http://security.debian.org/pool/updates/main/l/linux/linux-headers-5.10.0-12-amd64_5.10.103-1_amd64.deb`

But Driverkit is reading those as `5.10.0-1

[2022-05-03 08:16] FedeDP commented on #142
Proposed PR for arm support (https://github.com/falcosecurity/driverkit/pull/143) address this issue using both evaluated options:
* adds a `kernelurls` param
* doubled the matching pattern

[2022-05-06 13:50] dwindsor commented on #127
Closing in favor of #113

[2022-05-06 13:50] #127 closed

[2022-05-07 18:09] poiana commented on #116
Stale issues rot after 30d of inactivity.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle rotten

[2022-05-10 09:03] FedeDP commented on #126
@distortedsignal did you try to increase the timeout?
In #143 i was getting similar issues, and it was a timeout problem. I bumped default timeout to 120s (up from 60s).

You can just pass `--timeout 120` and test.

[2022-05-10 09:13] FedeDP opened #144 "Properly support more ubuntu flavours"
**Motivation**

[Kernel crawler](https://github.com/falcosecurity/kernel-crawler) discovered various ubuntu flavours that are unsupported at the moment:
* ubuntu-oracle
* ubuntu-kvm
* ubuntu-oem
* ubuntu-gcp
* ubuntu-azure
* ubuntu-hwe

Moreover, alongside those, there are some more that have the kernel-version suffix, like:
* ubuntu-azure-4.15
* ubuntu-aws-5.0
* ubuntu-aws-5.4

And many more.

**

[2022-05-18 02:57] derekhjray opened #145 "Unknown argument error for building centos eBPF module"
**Describe the bug**
Build eBPF module triggers  "**unknown argument: '-fmacro-prefix-map=./='**" error

**How to reproduce it**

Build centos7 community version 5.14.11:
[code]
Kernel devel repository url: https://mirrors.aliyun.com/elrepo/kernel

**Expected behaviour**
Build with no error

**Screenshots**
![1652842404(1)](https://user-images.githubusercontent.com/80803555/168947518-7586563e-db69

[2022-06-03 11:52] #142 closed

[2022-06-06 12:00] e-minguez opened #152 "[RFE] Add support for CentOS9 stream"
**Motivation**

Latest CentOS version is CentOS 9 Stream, so I guess it would be nice to have it supported by driverkit.

**Feature**

Add support for driverkit on CentOS 9 Stream

**Alternatives**

N/A

**Additional context**

https://github.com/falcosecurity/driverkit/blob/master/pkg/driverbuilder/builder/centos.go

[2022-06-06 12:28] dwindsor commented on #152
+1 from me.

Could you please structure your PR in a way similar to #130, with a sample command-line invocation and resultant successful build in the description?

[2022-06-06 18:18] poiana commented on #116
Rotten issues close after 30d of inactivity.

Reopen the issue with `/reopen`.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Provide feedback via https://github.com/falcosecurity/community.
/close

[2022-06-06 18:19] #116 closed

[2022-06-06 18:19] poiana commented on #116
@poiana: Closing this issue.

<details>

In response to [this](https://github.com/falcosecurity/driverkit/issues/116#issuecomment-1147744821):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-i

[2022-06-10 00:20] poiana commented on #75
Issues go stale after 90d of inactivity.

Mark the issue as fresh with `/remove-lifecycle stale`.

Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle stale

[2022-06-15 19:37] EXONER4TED opened #158 "0.9.0 release fails to build AmazonLinux2 drivers"
**Description of Bug**

We tested out 0.9.0 today and noticed a new issue with AmazonLinux2 kernel drivers (specifically for libs version `3aa7a83bf7b9e6229a3824e3fd1f4452d1e95cb4`). Here's some output from our automation that utilizes driverkit:
[code]

It seems the x86_64 binary is built with `CGO_ENABLED=0`.

**Steps to Reproduce**

Can be reproduced with the following using the `amd64` release

[2022-06-16 00:13] leodido commented on #158
Thank you, I come late to the party but I confirm that Amazon stores info in an SQLite DB that the AL2 builder needs to download and query...

Therefore PR #157 breaks AL2 builders.

[2022-06-16 00:13] leodido commented on #158
/priority high

[2022-06-16 00:13] poiana commented on #158
@leodido: The label(s) `priority/high` cannot be applied, because the repository doesn't have them.

<details>

In response to [this](https://github.com/falcosecurity/driverkit/issues/158#issuecomment-1157093012):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions rela

[2022-06-16 00:51] #158 closed

[2022-06-20 14:16] johnbrydon opened #164 "Add driver builder for Redhat Linux"
**Motivation**

We have a requirement to build drivers specificically for RHEL systems. At the moment, there is no builder for this target likely due to not being able to pull kernel packages for building or storing the actual output of the build in a public repo. Regardless, the option should be available for people who wish to build their own drivers outside of test-infra.

**Feature**

The solu

[2022-06-23 21:02] dwindsor opened #170 "driverkit fails to build ubuntu drivers for kernels >= 5.13.0"
**Describe the bug**

The ubuntu builder fails to build drivers for kernels >= 5.13.0:

[code]

For recent kernels, gcc-10 is required.

**How to reproduce it**

[code]

**Expected behaviour**

**Screenshots**

**Environment**

- Falco version:

- System info:

- Cloud provider or hardware configuration:
- OS:

- Kernel:

- Installation method:

**Additional context**

[2022-06-23 21:06] #170 closed

[2022-06-24 15:26] johnbrydon commented on #164
fixed in https://github.com/falcosecurity/driverkit/pull/165

[2022-06-24 15:26] #164 closed

[2022-07-07 09:52] FedeDP commented on #145
Hi! Thanks for opening this PR! This issue is caused by the kernel release you're trying to build (5.14.x) that is too new for [our builder image](https://github.com/falcosecurity/driverkit/blob/master/build/builder.Dockerfile).

There is an ongoing effort to provide multiple builder images so that we are finally able to build kmod against 5.10+.

You should be able to at least build the eBPF prob

[2022-07-10 03:34] poiana commented on #75
Stale issues rot after 30d of inactivity.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle rotten

[2022-07-19 12:38] leogr commented on #103
cc @FedeDP @dwindsor wdyt?

[2022-07-19 12:51] dwindsor commented on #103
I feel like we can close this. kernel-crawler integration solves a lot of the issues mentioned here.

[2022-07-19 12:52] #103 closed

[2022-07-20 14:26] #144 closed

[2022-07-26 16:11] Lowaiz opened #191 "kernel headers not found on ubuntu-generic"
**Describe the bug**

Some linux kernel headers are not found when compile with this config:
[code]

**How to reproduce it**

You have the config.

**Expected behaviour**

Compiling correctly.

**Screenshots**

Logs:
[code]

**Additional context**

PR to solve incoming

[2022-07-27 09:35] #191 closed

[2022-07-28 11:01] FedeDP opened #194 "Multiple builder images"
**Motivation**

As most issues report, like #145  and #126, we are not able to build most recent kernels because our builder image ships with gcc8 as most recent gcc version.

**Feature**

We should be able to properly support multiple builder images, and have an automatic logic to choose the correct one.
The logic should be as simple as possible, matching:
* the requested GCC version (just like w

[2022-07-28 13:52] dwindsor commented on #194
And driverkit will always expect the user to provide a builderimage, making the param mandatory.

While I like this idea, this is going to be disruptive to existing users. However, if we're moving towards deprecating crawling from driverkit (in favor of forcing users to always kernel-crawler and provide `--kernelurls` when calling driverkit), we could also do similarly here as well?

I'd be intere

[2022-07-28 15:35] FedeDP commented on #75
/close
as per comment :point_up:

[2022-07-28 15:35] poiana commented on #75
@FedeDP: Closing this issue.

<details>

In response to [this](https://github.com/falcosecurity/driverkit/issues/75#issuecomment-1198318311):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-in

[2022-08-04 13:49] #152 closed, assigned to nobody

[2022-08-08 04:41] incertum opened #196 "Driverkit Features Requests: Enhanced auto-discovery, support concurrent builds for multiple headers and compiler versions"
**Motivation**
---

- Augment functionality for primary use case (compile one driver for one kernel build using recommended compiler version).
- Add functionality to cover more use cases, for instance https://github.com/falcosecurity/libs/pull/524 or https://github.com/falcosecurity/libs/issues/531.

**Feature**
---

### Primary Use Cases

`[001]` Builder Containers

- Big +1 https://github.com/fa

[2022-08-08 16:22] incertum commented on #196
Yes just `headers` would be amazing! Re all other fields and naming, probably worth another round of discussion once everything gets refactored.

Additional note: Some end users may be less familiar with kernel development. Perhaps a small paragraph explaining essentials even in greater detail could help?
- Be very clear to explain that end user should go to kernel crawler file and pass the packag

[2022-08-22 14:16] FedeDP commented on #196
Hi @incertum !
Thanks for this feature request :)

I am not sure i understood everything well; btw IMO i think that we only need to cover GCC matrix; possibly we only need just one more builder image for newest kernels (with like gcc 10+); as far as i know, we are pretty stable building kernels <5.10. Here @EXONER4TED did some great tests for  #161, perhaps he has some inputs!

Instead, Clang has

[2022-08-26 09:51] FedeDP opened #200 "Multiple ubuntu kernel headers cannot be found"
**Describe the bug**

As title says; some examples:
[code]
These all lead to
[code]
I think there is some sort of issue with current `fetchUbuntuKernelURL` (possibly some patterns are missing).

@EXONER4TED @dwindsor

[2022-09-06 19:12] Jeroen0494 opened #205 "Ubuntu 22.04 build failure with kernel 5.15.0-47-generic"
**Describe the bug**
Driverkit fails to build on Ubuntu 22.04 because the kernel is build with GCC 11, and the builder image has GCC 10.

**How to reproduce it**
Driverkit download:
[code]

ubuntu.yaml:
[code]

Build with `./driverkit kubernetes -c ubuntu.yaml`

Output:
[code]

**Environment**

[code]

[2022-09-06 19:56] FedeDP commented on #205
Hi! Thanks for reporting this issue! We are aware of this, see eg: #126 .

Good news is: we are working on a feature(ie: supporting multiple builder images) that will fix this issue in #202!

[2022-09-16 10:29] #194 closed

[2022-09-20 08:13] FedeDP commented on #145
Hi! Can you retest using driverkit master and forcing `--builderimage auto:master` ?

[2022-09-20 08:14] FedeDP commented on #145
Note that most probably you'll need to bump your config kernel version because i think it won't be still present on centos repos!

[2022-09-20 08:14] FedeDP commented on #126
Hi! Can you retest using driverkit master and forcing `--builderimage auto:master` ? @distortedsignal

[2022-09-28 11:37] eminaktas opened #216 "Falco stops working after kernel version upgrade from 5.13.0-39-generic to 5.15.0-46-generic"
**Describe the bug**

Falco stops working after kernel upgrade.

**How to reproduce it**

Falco was runnnig in a virtual machine with 5.13.0-39-generic kernel version. After, we upgraded the kernel version to 5.15.0-46-generic. Then pods started to failing.

**Expected behaviour**

We expected to see that Falco should be able to load the kernel driver from `/lib/modules`. However, it couldn't and

[2022-09-30 13:13] Jeroen0494 commented on #205
Hi,

Back from vacation.
So that seems to work better:
[code]

I'll try and use it for my cluster a bit later, just got back today.

[2022-09-30 13:17] FedeDP commented on #205
Yay! Let us know please, this is a super useful feedback for us!

[2022-10-10 16:34] Jeroen0494 commented on #205
Hi,

So I haven't gotten it to work just yet with BPF:
[code]

I've saved the `falco-bpf.o` file under `/root/.falco` on my host and mapped it into the container using `hostPath`.

Using the regular module doesn't seem to work yet either:
[code]

But I'm guessing in these cases I'm doing something wrong. I inserted the falco module using `insmod`. Falco is deployed via Helm.

[2022-10-12 13:46] dwindsor commented on #196
Driverkit [0.10.1](https://github.com/falcosecurity/driverkit/releases/tag/v0.10.1) was just released and has the "multiple builders" feature which should address some points of your use case.

[2022-10-12 17:33] EXONER4TED opened #221 "Sporadic "obj list not found" errors"
**Describe the bug**
On some Falco libs versions, we fail to build modules with an output error like:
[code]

**How to reproduce it**
Here's an example command on 0.10.1 release that fails to build:
[code]

**Expected behaviour**
Module builds 😄
...or at least a better error message indicating why.

**Screenshots**

**Environment**

- Falco version:

- System info:

- Cloud provider or hardware co

[2022-10-12 19:00] #221 closed

[2022-10-14 06:48] FedeDP commented on #216
Hi!
If you upgraded the running kernel, Falco driver needs to be upgraded as well (ie: rebuilt).
For the moment, we are not able to provide prebuilt drivers for linux 5.10+, but things will change once https://github.com/falcosecurity/test-infra/pull/868 is merged.
Moreover, as you can see, your kernel is actually discovered by kernel-crawler: https://falcosecurity.github.io/kernel-crawler/?arch=x

[2022-10-14 06:50] FedeDP commented on #205
Yay!

We are currently fixing it for the 0.33 Falco release :)

[2022-10-15 10:21] Jeroen0494 commented on #205
Hi,

It fails to build again when building against the latest kernel (5.15.0-50-generic):
[code]

[code]

I've attempted to use driver-builder_bullseye because it has a 0.10.1 release, but this clearly doesn't work:
[code]

Could you make the 0.10.1 image available on Docker hub for Ubuntu?

[2022-10-15 10:34] FedeDP commented on #205
You are not using latest driverkit release. Can you use 0.10.1? It should allow you to build the kernel!

[2022-10-15 11:38] Jeroen0494 commented on #205
Ah, my bad. Build using the lastest version of driverkit, now it works. Running falco doesn't work just yet:
[code]

[2022-10-17 14:25] Jeroen0494 commented on #205
Yes, because the kernel module doesn't seem to load. Alright, I'll wait for the next release.

[2022-10-19 20:51] EXONER4TED opened #223 "Ubuntu lowlatency-hwe's not working"
**Describe the bug**
Ubuntu `lowlatency-hwe-*` kernels don't work with the current Ubuntu template script. Example:
[code]
The `find . -type d -name 'linux-headers*lowlatency-hwe'` does not work as the `headersPattern` needs to actually be `linux-headers*lowlatency`, not `linux-headers*lowlatency-hwe`. I'm not sure why, the directory extracted out of the deb just doesn't have the `-hwe` on the end

[2022-10-20 18:19] #223 closed

[2022-11-04 09:34] danieljmt commented on #205
I'm still seeing this with 0.33
[code]

[2022-11-18 17:42] EXONER4TED opened #236 "Cannot Build CentOS 7: `3.10.0-1160.80.1.el7.x86_64`"
**Describe the bug**

It looks like CentOS 7 got a new kernel ~Nov. 10 - at least, that's when mirrors picked it up. Our build pipelines internally have been failing for ALL falco libs versions, pointing to the problem being something else. Trying to manually build it gives an error.

Command:
[code]
Error:
[code]
It _looks_ like it's an issue with the linker..?

Either way to get around this prob

[2022-11-18 18:20] EXONER4TED commented on #236
@FedeDP - wanted to ping you in case you immediately knew what to do here since you worked with the multi-gcc PR.

[2022-11-18 20:45] dwindsor commented on #236
The buster-based builder uses a more recent [binutils](https://github.com/dwindsor/driverkit/blob/a97d2d5df2ec5995a110359155c1bcacf6403c62/build/builder_buster.Dockerfile#L113) than CentOS 7 does, interestingly:

### buster-based Builder
[code]

### centos:7
[code]

I hope we haven't encountered another issue like [this](https://github.com/dwindsor/driverkit/blob/a97d2d5df2ec5995a110359155c1bcacf6

[2022-11-18 23:15] dwindsor commented on #236
fwiw, I'm able to build this driver in the following environments:

**CentOS 7:** gcc: 4.8.5, binutils: 2.27-44.base.el7
**RHEL 8:** gcc: 8.5.0, binutils: 2.30-117.el8
**RHEL 9:** gcc: 11.3.1, binutils: 2.35.2-24.el8

So, I don't think there's anything special about gcc 4.8.5 that's missing in gcc 4.9 that's causing this.

Interestingly, Ubuntu-based containers don't seem to be working. Using Ubun

[2022-11-22 09:17] FedeDP commented on #236
Hi! As always, this is very weird...
I agree that, at some point, we might want to add different builders for each distro and distro version (like: centos7 builder, centos8 builder, ubuntu20.04 builder); fact is it's not easy to understand in which distro version a kernelrelease was present (let aside the added complexity of managing 15+ docker images).

Perhaps it would be enough to let's say add

[2022-11-24 15:34] poiana commented on #200
Issues go stale after 90d of inactivity.

Mark the issue as fresh with `/remove-lifecycle stale`.

Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle stale

[2022-11-24 15:34] FedeDP commented on #200
/remove-lifecycle stale